<h2>Pick a show to attend</h2>
<form id="rateMovieForm" ng-controller="BuyTicketCtrl">
	<label>Pick your name:</label>	
	<select ng-model="customerName" ng-options="customer for customer in customers">
		<option value="">Select Customer</option>
	</select>
	<br>
	<label>Pick the show:</label>
	<select ng-model="showing" ng-options="item.Id as item.Name for item in showings">
		<option value="">Select Showing</option>
	</select>
	<br>
	<button class="btn btn-default" ng-click="buyTicket()">Buy Ticket</button>
</form>