<div class="col-lg-12 header-section">
	<div class="row header-row">
		<div class="span12 masthead">
			<h1 class="heading">What do you want to do?</h1>
		</div>
	</div>
</div>
<div class="header-push">
</div>

<div style="text-align: center; padding: 20px;">
	<button><a href="/search">Search shows</a></button><br>
	<button><a href="/rate">Rate movies</a></button><br>
	<button><a href="/attend">Buy a ticket</a></button><br>
	<button><a href="/profile">See your profile</a></button><br>
	<button><a href="/movies">List movies watched</a></button><br>
</div>