<form id="staff-form" ng-controller="StaffFormCtrl">
	<div id="hideAfterDone" ng-hide="hideRest">
		<h3 class=>Movies</h3>
		<button class="btn btn-default" ng-click="showAddMovie = true; hideRest = true;">Add Movies</button>
		<button class="btn btn-default" ng-click="showDelMovie = true; hideRest = true;">Delete Movies</button>
		<button class="btn btn-default" ng-click="showModMovie = true; hideRest = true;">Modify Movies</button>
		<button class="btn btn-default" ng-click="showListMovie = true; hideRest = true;">See all movies</button>
		<h3>Genres</h3>
		<button class="btn btn-default" ng-click="showAddGenre = true; hideRest = true;">Add Genre to Movie</button>
		<button class="btn btn-default" ng-click="showDelGenre = true; hideRest = true;">Delete Genre from Movie</button>
		<button class="btn btn-default" ng-click="showListGenre = true; hideRest = true;">List all Genres</button>
		<h3>Rooms</h3>
		<button class="btn btn-default" ng-click="showAddRm = true; hideRest = true;">Add Rooms</button>
		<button class="btn btn-default" ng-click="showDelRm = true; hideRest = true;">Delete Rooms</button>
		<button class="btn btn-default" ng-click="showModRm = true; hideRest = true;">Modify Rooms</button>
		<button class="btn btn-default" ng-click="showListRm = true; hideRest = true;">List all Rooms</button>
		<h3>Showing</h3>
		<button class="btn btn-default" ng-click="showAddShowing = true; hideRest = true;">Add Showings</button>
		<button class="btn btn-default" ng-click="showDelShowing = true; hideRest = true;">Delete Showings</button>
		<button class="btn btn-default" ng-click="showModShowing = true; hideRest = true;">Modify Showings</button>
		<button class="btn btn-default" ng-click="showListShowing = true; hideRest = true;">List all Showings</button>
		<h3>Customers</h3>
		<button class="btn btn-default" ng-click="showAddCust = true; hideRest = true;">Add Customers</button>
		<button class="btn btn-default" ng-click="showDelCust = true; hideRest = true;">Delete Customers</button>
		<button class="btn btn-default" ng-click="showModCust = true; hideRest = true;">Modify Customers</button>
		<button class="btn btn-default" ng-click="showListCust = true; hideRest = true;">List all Customers</button>
		<h3>Attend</h3>
		<button class="btn btn-default" ng-click="showListAttendCust = true; hideRest = true;">List attending Customers</button>
		<button class="btn btn-default" ng-click="showListAttendShow = true; hideRest = true;">List attended Showings</button>
		<button class="btn btn-default" ng-click="showListAttendMovie = true; hideRest = true;">List attended Movies</button>
		<button class="btn btn-default" ng-click="showListAttend= true; hideRest = true;">List rated attendances</button>
	</div>
	<!-- Adds movie -->
	<div id="addMoviePg" ng-show="showAddMovie">
		<h3>Adding Movie</h3>
		<p> You need a unique movie ID, movie name and movie year</p>
		<span>Movie ID:</span>
		<input type="number" ng-model="addMovieNo" />
		<span>Movie Name:</span>
		<input type="text" ng-model="addMovieName" />
		<span>Movie Year:</span>
		<input type="number" ng-model="addMovieYr" />
		<button class="btn btn-default" ng-click="addMovie()">Add Movie</button>
	</div>
	<!--Deletes movie -->
	<div id="delMoviePg" ng-show="showDelMovie">
		<h3>Delete Movie</h3>
		<p> You need a unique movie ID or movie name and movie year to delete</p>
		<span>Movie ID:</span>
		<input type="number" ng-model="delMovieNo" />
		<button class="btn btn-default" ng-click="delMovie()">Delete Movie</button>
	</div>
	<!--Modifies movie -->
	<div id="modMoviePg" ng-show="showModMovie">
		<h3>Modifiy Movie</h3>
		<p> You need a unique movie ID and choose to modify movie name or year</p>
		<span>Movie ID:</span>
		<input type="number" ng-model="modMovieNo" />
		<span>Movie Name:</span>
		<input type="text" ng-model="modMovieName" />
		<span>Movie Year:</span>
		<input type="number" ng-model="modMovieYr" />
		<button class="btn btn-default" ng-click="editMovie()">Edit Movie</button>
	</div>
	<!--Lists all movies -->
	<div id="allMoviePg" ng-show="showListMovie">
		<h3>List Movies</h3>
		<button class="btn btn-default" ng-click="getMovies(); showMovieList=true">Press here</button>
		<div ng-show="showMovieList" ng-repeat="movie in allMovies">
  			<span>ID: {{movie.0}},</span> <span>Name: {{movie.1}},</span> <span>Year: {{movie.2}}</span>
		</div>
	</div>
	<!-- Adds genre from movie -->
	<div id="addGenrePg" ng-show="showAddGenre">
		<h3>Add Genre from Movie</h3>
		<p> You need a unique movie ID or movie name and movie genre to add</p>
		<span>Movie ID:</span>
		<input type="number" ng-model="addMovieNoForGenre" />
		<span>Movie Genre:</span>
		<input type="text" ng-model="addMovieGenre" />
		<button class="btn btn-default" ng-click="addGenre()">Add Genre to Movie</button>
	</div>
	<!-- Delete genre from movie -->
	<div id="delGenrePg" ng-show="showDelGenre">
		<h3>Delete Genre from Movie</h3>
		<p> You need a unique movie ID or movie name and movie genre to delete</p>
		<span>Movie ID:</span>
		<input type="number" ng-model="delMovieNoForGenre" />
		<span>Movie Year:</span>
		<input type="number" ng-model="delMovieYr" />
		<button class="btn btn-default" ng-click="delGenre()">Delete genre from movie</button>
	</div>
	<!--Lists all genres -->
	<div id="allGenrePg" ng-show="showListGenre">
		<h3>List Movies</h3>
		<button class="btn btn-default" ng-click="getGenres(); showGenreList=true">Press here</button>
		<div ng-show="showGenreList" ng-repeat="genre in allGenres">
  			<span>Genre: {{genre.1}},</span> <span>Movie Name: {{genre.0}}</span>
		</div>
	</div>
	<!--Adds room -->
	<div id="addRmPg" ng-show="showAddRm">
		<h3>Add room</h3>
		<p>Add a room with number and capacity</p>
		<span>Room number</span>
		<input type="number" ng-model="addRmNo" />
		<span>Capacity</span>
		<input type="number" ng-model="addRmCap" />
		<button class="btn btn-default" ng-click="addRm()">Add Room</button>
	</div>
	<!--Adds room -->
	<div id="delRmPg" ng-show="showDelRm">
		<h3>Delete room</h3>
		<p>Input room number to delete</p>
		<span>Room number</span>
		<input type="number" ng-model="delRmNo" />
		<button class="btn btn-default" ng-click="delRm()">Delete Room</button>
	</div>
	<!--Mods room -->
	<div id="modRmPg" ng-show="showModRm">
		<h3>Modify room</h3>
		<p>Modify a room with number and capacity to be modified</p>
		<span>Room number</span>
		<input type="number" ng-model="modRmNo" />
		<span>Capacity</span>
		<input type="number" ng-model="modRmCap" />
		<button class="btn btn-default" ng-click="modRm()">Modify Room</button>
	</div>
	<!--Lists room -->
	<div id="listRmPg" ng-show="showListRm">
		<h3>List rooms</h3>
		<button class="btn btn-default" ng-click="getRms(); showRmList=true">Press here</button>
		<div ng-show="showRmList" ng-repeat="rm in allRms">
			<span>Room number: {{rm.0}},</span> <span>Capacity: {{rm.1}}</span>
		</div>
	</div>
	<!-- Adds showing -->
	<div id="addShowingPg" ng-show="showAddShowing">
		<h3>Adding Showing</h3>
		<p> You need a unique showing ID, showing date, movie id, room number and ticket price</p>
		<span>Showing ID:</span>
		<input type="number" ng-model="addShowingNo" />
		<span>Movie ID:</span>
		<input type="number" ng-model="addShowingMovieNo" />
		<span>Date:</span>
		<input type="datetime" ng-model="addShowingDate" />
		<span>Room num:</span>
		<input type="number" ng-model="addShowingRmNo" />
		<span>Price: </span>
		<input type="number" ng-model="addShowingPrice" />
		<button class="btn btn-default" ng-click="addShowing()">Add Showing</button>
	</div>
	<!--Deletes movie -->
	<div id="delShowingPg" ng-show="showDelShowing">
		<h3>Deleting Showing</h3>
		<p> You need a unique showing ID and movie id, room number</p>
		<span>Showing ID:</span>
		<input type="number" ng-model="delShowingNo" />
		<span>Movie ID:</span>
		<input type="number" ng-model="delShowingMovieNo" />
		<span>Room num:</span>
		<input type="number" ng-model="delShowingRmNo" />
		<button class="btn btn-default" ng-click="delShowing()">Delete Showing</button>
	</div>
	<!--Modifies movie -->
	<div id="modShowingPg" ng-show="showModShowing">
		<h3>Modify Showing</h3>
		<p>Modifies showing based on showing id, rm num and movie id</p>
		<span>Showing ID:</span>
		<input type="number" ng-model="modShowingNo" />
		<span>Movie ID:</span>
		<input type="number" ng-model="modShowingMovieNo" />
		<span>Room num:</span>
		<input type="number" ng-model="modShowingRmNo" />
		<button class="btn btn-default" ng-click="modShowing()">Modify Showing</button>
	</div>
	<!--Lists all movies -->
	<div id="allShowingPg" ng-show="showListShowing">
		<h3>List Shows</h3>
		<button class="btn btn-default" ng-click="getShowings(); showShowingList=true">Press here</button>
		<div ng-show="showShowingList" ng-repeat="showing in allShowings">
  			<span>ID: {{showing.0}},</span> <span>Movie ID: {{showing.1}},</span> <span>Date: {{showing.4}}</span> <span>Room num: {{showing.2}},</span> <span>Price: {{showing.3}}</span>
		</div>
	</div>
	<!-- Adds showing -->
	<div id="addCustPg" ng-show="showAddCust">
		<h3>Adding Customer</h3>
		<p> You need a unique customer ID, sex, first name, last name and email</p>
		<span>ID:</span>
		<input type="number" ng-model="addCustNo" />
		<span>sex:</span>
		<input type="radio" ng-model="addCustSex" value="m"> Male<br>
  		<input type="radio" ng-model="addCustSex" value="f"> Female<br>
		<span>first name:</span>
		<input type="text" ng-model="addCustFName" />
		<span>last name:</span>
		<input type="text" ng-model="addCustLName" />
		<span>Email:</span>
		<input type="email" ng-model="addCustEmail" />
		<button class="btn btn-default" ng-click="addCust()">Add Customer</button>
	</div>
	<!--Deletes movie -->
	<div id="delCustPg" ng-show="showDelCust">
		<h3>Deleting Customer</h3>
		<p> You need a unique customer ID to delete</p>
		<span>ID:</span>
		<input type="number" ng-model="delCustNo" />
		<button class="btn btn-default" ng-click="delCust()">Delete Customer</button>
	</div>
	<!--Modifies movie -->
	<div id="modCustPg" ng-show="showModCust">
		<h3>Modifying Customer</h3>
		<p> You need a unique customer ID and modifies sex, first name, last name and email</p>
		<span>ID:</span>
		<input type="number" ng-model="modCustNo" />
		<span>sex:</span>
		<input type="radio" ng-model="modCustSex" value="m"> Male<br>
  		<input type="radio" ng-model="modCustSex" value="f"> Female<br>
		<span>first name:</span>
		<input type="text" ng-model="modCustFName" />
		<span>last name:</span>
		<input type="text" ng-model="modCustLName" />
		<span>Email:</span>
		<input type="email" ng-model="modCustEmail" />
		<button class="btn btn-default" ng-click="modCust()">Modify Customer</button>
	</div>
	<!--Lists all movies -->
	<div id="allCustPg" ng-show="showListCust">
		<h3>List Customers</h3>
		<button class="btn btn-default" ng-click="getCustList(); showCustList=true">Press here</button>
		<div ng-show="showCustList" ng-repeat="cust in allCustomers">
  			<span>ID: {{cust.0}},</span> <span>First name: {{cust.1}},</span> <span>Last Name: {{cust.2}}</span> <span>Sex: {{cust.4}},</span> <span>Email: {{cust.3}}</span>
		</div>
	</div>
		<!--Lists all attend and cust -->
	<div id="custAttendPg" ng-show="showListAttendCust">
		<h3>List Attending Customers</h3>
		<button class="btn btn-default" ng-click="getAttend(); showAttCustList=true">Press here</button>
		<div ng-show="showAttCustList" ng-repeat="att in allAtt">
  			<span>Customer ID: {{att.custId}},</span> <span>First name: {{att.fName}},</span> <span>Last Name: {{att.lName}}</span> <span>Showing ID: {{att.showing}}</span><span>Rating: {{att.rating}}</span>
		</div>
	</div>
		<!--Lists all movies -->
	<div id="showAttendPg" ng-show="showListAttendShow">
		<h3>List Showing and Customers</h3>
		<button class="btn btn-default" ng-click="getAttend(); showAttShowList=true">Press here</button>
		<div ng-show="showAttShowList" ng-repeat="att in allAtt">
  			<span>Customer ID: {{att.custId}},</span> <span>Showing date: {{att.date}}, <span>Showing ID: {{att.showing}}</span><span>Rating: {{att.rating}}</span> <span>Room: {{att.rm}}</span><span>Price: {{att.price}}</span>
		</div>
	</div>
		<!--Lists all movies -->
	<div id="movieAttendPg" ng-show="showListAttendMovie">
		<h3>List Movies Attended</h3>
		<button class="btn btn-default" ng-click="getAttend(); showAttMovieList=true">Press here</button>
		<div ng-show="showAttMovieList" ng-repeat="att in allAtt">
  			<!--span>Customer ID: {{att.custId}},</span> <span>Movie ID: {{att.mID}}</span> <span>Showing ID: {{att.showing}}</span><span>Rating: {{att.rating}}</span> <span>Movie: {{att.movie}}</span><span>Movie Yr: {{att.yr}}</span-->
  			<p>{{ att }}</p>
		</div>
	</div>
		<!--Lists all movies -->
	<div id="allAttendPg" ng-show="showListAttend">
		<h3>List Attendances</h3>
		<button class="btn btn-default" ng-click="getAttend(); showAttendList=true">Press here</button>
  		<div ng-show="showAttendList" ng-repeat="att in allAtt">
  			<span>Customer ID: {{att.custId}},</span> <span>Showing ID: {{att.showing}}</span><span>Rating: {{att.rating}}</span>
		</div>
	</div>
</form>